@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&family=Raleway:wght@400;600;900&family=Ubuntu:wght@400;500;700&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/

body {
  background: url('./assets/background1.jpg') no-repeat center fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}
.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  text-align: center;
  font-weight: 700;
  color: #4d74f5f6;
}
.col-head {
  animation-name: col;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes col {
  0% {
    color: #ff0000;
  }
  25% {
    color: #ffff00;
  }
  50% {
    color: #84d3f8;
  }
  75% {
    color: #ff7f50;
  }
  100% {
    color: #75ee75;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  width: 40%;
  margin: 4% auto;
  background-color: #000000b2;
  border-radius: 15px;
  box-shadow: 0 15px 25px #000000a9;
  padding: 20px 5px 30px;
  text-align: center;
}
.logo {
  height: 150px;
  margin-bottom: 20px;
}
#email,
#pass {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 90%;
  color: #ff7f50;
  width: 80%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #03e9f4;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 15px;
  background: #00000000;
}
::placeholder {
  color: #c8c8c8;
  opacity: 1; /* Firefox */
}
#email:focus {
  outline: none !important;
  border-color: #ff7f50;
}
#pass:focus {
  outline: none !important;
  border-color: #ff7f50;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.733) inset !important;
  -webkit-text-fill-color: #03e9f4;
}

/* Form Button with Animations */
.form-btn {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  margin: 3px 5px;
  color: #03e9f4;
  /* font-size: 16px; */
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
}

.form-btn:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.form-btn span {
  position: absolute;
  display: block;
}

.form-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.form-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.form-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.form-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* Button CSS end */

/* Responsive Form */
@media (max-width: 670px) {
  .heading {
    font-size: 15px;
  }
  .col-head {
    font-size: 105%;
    padding: 0px 10px;
  }
  .login-form {
    width: 70%;
  }
  .form-btn {
    font-size: 13px;
    margin-top: 15px;
  }
  #email,
  #pass {
    font-size: 75%;
  }
}

footer p {
  text-align: center;
  padding: 0%;
  margin: 0%;
  color: #414141;
  font-family: 'Ubuntu', sans-serif;
  font-size: 9px;
  font-weight: 700;
}
